body{ margin:0%; }
#menu{
    position: fixed;  /*위치고정*/
    width:100%;
    height:50px;
    line-height: 50px;   /*글자위치*/
    text-align: right;   /*오른쪽정렬*/
    background-color: #ffcf21;
}
ul{
    height:40px;
    margin: 0%;
    padding-right: 4%;
}
il{ padding-left: 4%; }
#menu ul li a{ display:block; }
a:link { color:black; }  /*클릭시 색깔*/
a:visited { color:black; }  /*클릭후 색깔*/
#logo{
    position: fixed;  /*위치고정*/
    left:0%;
}
a{text-decoration-line: none;}  /*링크밑줄x*/
a:active { color:#d3b239; }  /*클릭중 색깔*/


#title{
    text-align:center;
    margin-top: 2%;
}
#day{
    margin-bottom: 0.8%;
    text-align:right;
    margin-right: 12%;

}
hr{
    margin-left: 12%;
    margin-right: 12%;
    border: solid 1px black;
}
#content{
    text-align:center;
    margin-top: 2%;

}
#answer{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 10%;
    text-align:center;
    padding: 1% 1% 3% 1%;
    background-color: rgb(235, 235, 235);

}
#list{
    margin-left: 49%;
    margin-top: 2%;
}

#m{
    margin-top: 3%;
    margin-left: 12%;   
}

th{
    font-weight: 500;
}