footer{
    margin-top: 5%;
    background-color: rgb(220, 220, 220);
    text-align: center;
    margin-top: 5%;
    width: 100%;
    position: absolute;
}
#a{
    position: relative;
    width: 100%;
}