* {
   margin: 0;
   padding: 0;
}

#section0, #section1, #section2{
}

.footer{
    display: flex;
    position: absolute;
    justify-content: space-around;
}

.season11-1, .season11-2, .season12-1, .season12-2 {
    text-align: justify;
    width: 600px;
}

.season11-1 img, .season11-2 img, .season12-1 img, .season12-2 img {
    width: 600px;
    height: 280px;
    display: inline-block; 
    margin: 0 auto;
}

.season11-1, .season11-2 {
    padding-left: 5.8%;
    padding-right: 43.5%;
    padding-top: 1.3%;
    padding-bottom: 3%;
    text-align: center;
    float: left;
}

.season12-1, .season12-2 {
    padding-left: 6%;
    padding-right: 43%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    float: left;
}

.member1, .member2, .member3, .member4, .member5, .member6, .member7, .member8, .member9, .member10 {
    float: left;
    padding-bottom: 0%;
}

.season11-1, .season11-2, .season12-1, .season12-2 {
    display: inline-block;
    margin: 0 auto;
    float: left;
}

.season11-text {
    width: 50px;
    height: 30px;
    margin-top: 2.5%;
    margin-bottom: -1%;
    margin-left: 47%;
    font-family: "Noto Sans KR";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.season11-text p {
    color: #632486;
    font-family: 'Noto Sans KR';
    font-size: 40px;
    text-shadow: -.08em .08em #E7DCD7;
}

.season12-text {
    width: 100px;
    height: 60px;
    margin-top: 2.5%;
    margin-left: 47%;
    font-family: "Noto Sans KR";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.season12-text p {
    color: #03933F;
    font-family: 'Noto Sans KR';
    font-size: 40px;
    text-shadow: -.08em .08em #E7DCD7;
}

/*.season12-text p {
    margin-top: 30%; 
}*/

.season11-line1 {
    margin-top: -0.5%;
    margin-left: 6%;
}
.season11-line2 {
    margin-top: 0.5%;
    margin-left: 6%;
}

.season12-line1 {
    margin-top: -0.5%;
    margin-left: 6%;
}

.season12-line2 {
    margin-top: 0.5%;
    margin-left: 6%;
}
