            /* 폰트 지정 못함 */
            body{
                 margin:0%; 
                 font-size: 115%;
            }
            #menu{
                position: fixed;  /*위치고정*/
                width:100%;
                height:50px;
                line-height: 50px;   /*글자위치*/
                text-align: right;   /*오른쪽정렬*/
                background-color: #ffcf21;
                z-index: 50; 
            }
            ul{
                height:40px;
                margin: 0%;
                padding-right: 4%;
            }
            il{ padding-left: 4%; }
            #menu ul li a{ display:block; }
            a:link { color:black; }  /*클릭시 색깔*/
            a:visited { color:black; }  /*클릭후 색깔*/
            #logo{
                position: fixed;  /*위치고정*/
                left:0%;
            }
            a{text-decoration-line: none;}  /*링크밑줄x*/
            a:active { color:#d3b239; }  /*클릭중 색깔*/

            div.test {
                background-color: #FFD53D;
                width: 100%;
                float: right;
                margin-bottom: 5%;
            }
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
            }
            li {
                color: rgb(73, 73, 73);
                margin-right: 1.5%;
                margin-top: 1.5%;
                margin-bottom: 1.5%;
                padding: 0 0 0 0;
                border: 0;
                float: right;
            }

            div.box {
                position: relative;
                
                width: 20%;
                height: 5px;
                background-color: #845fa8;
                float: right;
                margin-right: 19%;
                
            }

            table.explain{
                margin: 0;
                padding: 0;
                width: 22%;
                border: 0px; 
                padding-top: 7%; 
                padding-left: 4%; 
                text-align: center;
            }

            footer {
                padding-bottom: 5%;
            }