* {
    margin: 0;
    padding: 0;
}

.season11div, .season12div {
    width: 100%;
    margin: 0 auto;
}

body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }


#section0, #section1, #section2{
}
#logo{
    position: absolute;
    height:100%;
    width:100%;
    max-width: 40px;
    max-height: 40px;
    margin-left: 1.8%;
    margin-top: 0.2%;
}

.season11-1, .season11-2, .season12-1, .season12-2 {
    text-align: justify;
    width: 550px;
}

.season11-1 img, .season11-2 img, .season12-1 img, .season12-2 img {
    width: 550px;
    height: 280px;
    display: inline-block; 
    margin: 0 auto;
}

.member1, .member3 {
    padding-left: 35%;
    padding-right: 43.5%;
    padding-top: 1.1%;
    padding-bottom: 3%;
}

.member2, .member4 {
    padding-left: 45%;
    padding-right: 43.5%;
    padding-top: 1.1%;
    padding-bottom: 3%;
}

.member5, .member7, .member9 {
    padding-left: 35%;
    padding-right: 43.5%;
    padding-top: 4%;
    padding-bottom: 5%;
}

.member6, .member8, .member10 {
    padding-left: 45%;
    padding-right: 43.5%;
    padding-top: 4%;
    padding-bottom: 3%;
}

.member1, .member2, .member3, .member4, .member5, .member6, .member7, .member8, .member9, .member10 {
    float: left;
    padding-bottom: 0%;
}

.season11-1, .season11-2, .season12-1, .season12-2 {
    display: inline-block;
    margin: 0 auto;
    float: left;
}

.season11-text {
    width: 100px;
    height: 60px;
    margin-top: 0%;
    margin-bottom: -1%;
}

div.season11-text {
    margin-left: 50%;
}

.season11-text p {
    color: black;
    font-family: 'Noto Sans KR';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.season12-text {
    width: 100px;
    height: 60px;
    margin-top: 40%;
    margin-left: 48%;
}

.season12-text p {
    color: black;
    font-family: 'Noto Sans KR';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.season11-line1 {
    border: 0;
    margin-top: -0.5%;
    margin-left: 10%;
}
.season11-line2 {
    border: 0;
    margin-top: 0.5%;
    margin-left: 10%;
}

.season12-line1 {
    border: 0;
    margin-top: -0.7%;
    margin-left: 10%;
}

.season12-line2 {
    border: 0;
    margin-top: 0.5%;
    margin-left: 10%;
}

html{
    height: 100%;
    width: 100%;
}