<!DOCTYPE html>
<html>
   <title>Q&A</title>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/home/QnA.css">
        <link rel="stylesheet" type="text/css" href="/css/home/style.css" /> 
        <link rel="stylesheet" type="text/css" href="/css/home/footer.css" />
    </head>
    <div id='menu'>
      <ul>
         <il><a href='/'><img id='logo' src ="/img/home/js스터디 로고.png"></a></il>
         <il><a href='/apply'>JS 지원</a></il>
         <il><a href='Project'>JS 스터디 프로젝트</a></il>
         <il><a href='/JS'>JS 동아리 활동</a></il>
         <il><a href='/QnA'>Q&A</a></il>
      </ul>
  </div>

    <br>

<body>
   <div id="m"><a href = "/QnA">목록</a></div> 
    <div id="all">전체 10건</div>
    
    <table id="Q">
        
        <tr>
            <th id="num" >번호</a></th>
            <th>제목</th>
            <th id="day" style="padding-top: 0.7%;">작성일</th>
        </tr>
        <tr>
           <th id="num">1</th>
           <th id="title" class = "1"><a>동아리 입부 신청</a></th>
           <th id="day">2022/1/12</th>
        </tr>
         <tr>
            <th id="num">2</th>
            <th id="title" class = "2"><a>동아리원 모집</a></th>
            <th id="day">2022/1/12</th>
         </tr>
         <tr>
            <th id="num">3</th>
            <th id="title" class = "3"><a>신입생</a></th>
            <th id="day">2022/1/25</th>
         </tr>
         <tr>
            <th id="num">4</th>
            <th id="title" class = "4"><a>동아리 활동</a></th>
            <th id="day">2022/1/25</th>
         </tr>
         <tr>
            <th id="num">5</th>
            <th id="title" class = "5"><a>프로젝트</a></th>
            <th id="day">2022/1/25</th>
         </tr>
         <tr>
            <th id="num">6</th>
            <th id="title" class = "6"><a>담당선생님</a></th>
            <th id="day">2022/1/25</th>
         </tr>
         <tr>
            <th id="num">7</th>
            <th id="title" class = "7"><a>디자인과 지원</a></th>
            <th id="day">2022/1/25</th>
         </tr>
         <tr>
            <th id="num">8</th>
            <th id="title" class = "8"><a>동아리원</a></th>
            <th id="day">2022/1/25</th>
         </tr>
         <tr>
            <th id="num">9</th>
            <th id="title" class = "9"><a>동아리 이름</a></th>
            <th id="day">2022/1/25</th>
         </tr>
         <tr>
            <th id="num">10</th>
            <th id="title" class = "10"><a>동아리 행사</a></th>
            <th id="day">2022/1/25</th>
         </tr>

    </table>

    <div id="mo">더 질문하고 싶은게 있다면 인스타그램 DM(<a href="https://www.instagram.com/js_mirim/" id="instargram"> js_mirim</a>) 또는 문자로 DM해주세요! <br>
               동아리 2학년 동아리장 번호 : 010-5365-5872</div>
		<!-- <h3 class="notice">정보</h3> --> 
		<div class="footer-info">
			<div style="text-align: center; padding-top: 10%; padding-bottom: 10%; color: gray;">
				@js study
			</div>
		</div>
	</footer>
    
</body>
<script src="/js/home/QnA.js"></script>
</html>
