<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>JS 동아리원 소개</title>
    
    <link rel="stylesheet" type="text/css" href="/css/home/style.css">
    <link rel="stylesheet" type="text/css" href="/css/home/member_intro.css">
    <link rel="stylesheet" type="text/css" href="/css/home/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/home/img_slide.css">
</head>
<body>
    <div id='menu'>
        <ul>
                <il><a href='/'><img id='logo' src ="/img/home/logo.png"></a></il>
                <il><a href='/apply'>JS 지원</a></il>
                <il><a href='/Project'>JS 스터디 프로젝트</a></il>
                <il><a href='/JS'>JS 동아리 활동</a></il>
                <il><a href='/QnA'>Q&A</a></il>
        </ul>
    </div>
    <br>

    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="/img/home/메인배너1.png" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="/img/home/메인배너4.png" style="width:100%">
        </div>
        <div class="mySlides fade">
            <a href='/JS'><img src="/img/home/메인배너3.png" style="width:100%"></a>
        </div>
        <div class="mySlides fade">
            <img src="/img/home/메인배너2.png" style="width:100%">
        </div>
    </div>
    <br>
    
    <div class="season11div">
        <div class = "season11-text">
            <p>11기</p>
        </div>
        <br>
        <div class = "season11-line1"> <!-- 11기 선1 -->
            <hr width = "90%" height="2" color="gray">
        </div>

        <div class = "season11-line2"> <!-- 11기 선2 -->
            <hr width = "90%" height="2" color="gray">
        </div>

        <div class="season11">
            <div class = "season11-1"> <!-- 11기 왼쪽줄 -->
                <div class="member1" style="width: 80%;">
                    <img src="/img/home/psy.png" />
                </div>

                <div class="member3">
                    <img src="/img/home/jsy3.png" />
                </div>
            </div>

            <div class = "season11-2"> <!-- 11기 오른쪽줄 -->
                <div class = "member2">
                    <img src="/img/home/phw.png" />
                </div>

                <div class="member4">
                    <img src="/img/home/lhn.png" />
                </div>
            </div>
        </div>
    </div> <!-- 11기 div -->
    <br>
    <br>
    
    <div class="season12div">
        <div class = "season12-text">
            <p>12기</p>
        </div>
        <br>
        <div class = "season12-line1"> <!-- 12기 선1 -->
            <hr width = "90%" height="2" color="gray">
        </div>

        <div class = "season12-line2"> <!-- 12기 선2 -->
            <hr width = "90%" height="2" color="gray">
        </div>

        <div class = "season12">
            <div class = "season12-1"> <!-- 12기 왼쪽줄 -->
                <div class="member5">
                    <img src="/img/home/kys.png" />
                </div>

                <div class="member7">
                    <img src="/img/home/syr.png" />
                </div>

                <div class="member9">
                    <img src="/img/home/pmj.png" />
                </div>
            </div>

            <div class = "season12-2"> <!-- 12기 오른쪽줄 -->
                <div class="member6">
                    <img src="/img/home/icy.png" />
                </div>

                <div class="member8">
                    <img src="/img/home/yhw.png" />
                </div>

                <div class="member10">
                    <img src="/img/home/jsy2.png" />
                </div>
            </div>
        </div>
    </div> <!-- 12기 div--> 
    
    <footer> 
      <!-- <h3 class="notice">정보</h3> --> 
      <div class="footer-info">
         <div>
            @js study
         </div>
      </div>
   </footer>
</body>
<script type="text/javascript" src="/js/home/img_slide.js"></script>
</html>