<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    이름
    <div style="border:1px solid; padding:0.2%;">
        ..
    </div>
    학번
    <div style="border:1px solid; padding:0.2%;">
        ..
    </div>
    이메일
    <div style="border:1px solid; padding:0.2%;">
        ..
    </div>
    전화번호
    <div style="border:1px solid; padding:0.2%;">
        ..
    </div>
    지원 사유
    <div style="border:1px solid; padding:0.2%;">
        ..
    </div>
    <button style="border:1px solid; margin-top: 1%;">이전</button>
    <button style="float: right;border:1px solid; margin-top: 1%;">다음</button>
</body>
</html>